@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* Primary */
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /* neutral */
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--Light-grayish-blue);
    font-size: 13px;
    font-weight: 500;
    font-family: Barlow Semi Condensed, sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5rem;
    max-width: 69rem;
}

.card {
    padding: 2rem;
    border-radius: 10px;
}
.card .avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.card .avatar .info {
    display: flex;
    flex-direction: column;
}
.quote-icon {
    text-align: right;
    position: absolute;
    top: 0;
    right: 6rem;
}
.quote-icon  img {
    z-index: -1;
}
.card .testimony {
    font-size: 1.2rem;
    font-weight: 600;
}
.card .avatar 
.info,
.testimony,
.message{
    color: var(--Light-gray);
}
.card .avatar .verified {
    opacity: 50%;
}
.card .avatar .message {
    opacity: 70%;
}
.card .avatar img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid hsla(0, 0%, 81%, 50%);
}
.card .testimony {
    color: var(--Light-gray);
    padding-top: 0.6rem;
    padding-bottom: 1rem;
}
.dark-txt {
    color: var(--Very-dark-grayish-blue) !important;
}

.daniel {
    background: var(--Moderate-violet);
    grid-row: 1;
    grid-column: 1 / span 2;
    position: relative;
}
.daniel .testimony {
    z-index: 99;
    position: relative;
}
.jonathan {
    background: var(--Very-dark-grayish-blue);
}
.whittle {
    background: var(--White);
    grid-row: 1 / span 2;
    grid-column: 4;
}
.harmon {
    background: var(--White);  
}
.card .whittle .name, .testimony {
    color: var(--Very-dark-grayish-blue);
}
.abrams {
    background: var(--Very-dark-blackish-blue);
    grid-row: 2;
    grid-column: 2 / span 2;
}
.abrams .avatar img {
    border: 2px solid hsl(263, 55%, 52%);
}


@media screen and (max-width: 1024px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    .card {
        padding: 1rem;
    }
    .quote-icon {
        right: 1rem;
    }
} 


